<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FORBIDDEN</title>
</head>
<body>
<div th:include="_header.html"></div>
<div class="container" style="alignment: center">
    <p class="text" style="text-align: center">
    <h1 style="alignment: center">SOMETHING WENT WRONG...</h1>
    </p>
    <p class="text">
    <h1 style="color:red;alignment: center" class="fst-italic">403 FORBIDDEN</h1>
    </p>
</div>
</body>
</html>